In [1]:
import numpy as np

In [5]:
import pandas as pd

In [23]:
ca_houses = pd.read_csv("data_CA_houses.txt", delimiter='\t')
ca_houses.set_index("ID case", inplace=True)

In [24]:
ca_houses.columns

Index(['depvar', 'ic1', 'ic2', 'ic3', 'ic4', 'ic5', 'oc1', 'oc2', 'oc3', 'oc4',
       'oc5', 'income', 'agehed', 'rooms', 'ncost1', 'scost1', 'mountn',
       'valley'],
      dtype='object')

In [31]:
# Slice matrix ca_houses and insert into x (R ^(900x5x2))
#   x(i, j, k)        i selects IDCASE, j selects heating solution, k IC/OC 
x = np.zeros(900, 5, 2);
x[:, :, 1] = ca_houses.loc[:,"ic1":"ic5"].values
x[:, :, 2] = ca_houses.loc[:,"oc1":"oc5"]
y = ca_houses.loc[:,"depvar"]  #denote chosen system. y in R^(900). (unlike suggested in task)

In [31]:
def log_likelihood(x, y, beta):
    return sum(log(Pn(x, y, beta)));

In [33]:
def Pn(x, y, beta):
    # calculate Pn(x_n | beta)
    res = zeros(m,1); 
    for i in range(m):
        beta_n  = beta'*squeeze(x(i,:, :))';    # beta * costs of all heating solutions for id i
        betay   = beta'*squeeze(x(i,y(i), :));  # beta * costs of chosen heating solution
        res(i)  = 1/sum(exp(beta_n-betay));

SyntaxError: invalid syntax (<ipython-input-33-58fe2899bd5a>, line 3)

In [31]:
%% Create anonymous function to handle extra parameters + negate function
f_obj = - log_like(x, y, beta);


%% Optimization
options=optimset('LargeScale','off','Display','iter','GradObj','off',...
    'MaxFunEvals',100000,'TolFun', 1e-12, 'TolX', 1e-12);
tic 
[betahat,fval,exitflag,output,grad,hessian] = fminunc(f_obj,[-0.5;-0.4],options);
toc

SyntaxError: invalid syntax (<ipython-input-31-a72d85385a22>, line 9)

In [30]:
ca_houses.loc[:,"ic1":"ic5"].values

array([[ 866.  ,  962.64,  859.9 ,  995.76, 1135.5 ],
       [ 727.93,  758.89,  796.82,  894.69,  968.9 ],
       [ 599.48,  783.05,  719.86,  900.11, 1048.3 ],
       ...,
       [ 787.1 , 1055.2 ,  842.79, 1041.3 , 1064.8 ],
       [ 860.56, 1081.3 ,  799.76, 1123.2 , 1218.2 ],
       [ 893.94, 1119.9 ,  967.88, 1091.7 , 1387.5 ]])

In [19]:
y = np.zeros(len(ca_houses))  #denote

In [27]:
ca_houses.loc[:,"ic1":"ic5"]

             ic1      ic2      ic3      ic4      ic5
ID case
1         866.00   962.64   859.90   995.76  1135.50
2         727.93   758.89   796.82   894.69   968.90
3         599.48   783.05   719.86   900.11  1048.30
4         835.17   793.06   761.25   831.04  1048.70
5         755.59   846.29   858.86   985.64   883.05
...          ...      ...      ...      ...      ...
896       766.39   877.71   751.59   869.78   942.70
897      1128.50  1167.80  1047.60  1292.60  1297.10
898       787.10  1055.20   842.79  1041.30  1064.80
899       860.56  1081.30   799.76  1123.20  1218.20
900       893.94  1119.90   967.88  1091.70  1387.50

[900 rows x 5 columns]